.filebox {
    margin-bottom: 5px;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

/* named upload */
.filebox .upload-name {
    display: inline-block;
    width: 50%;
    padding: .5em .75em;
    font-size: inherit;
    font-family: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #f5f5f5;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
}

/* imaged preview */
.filebox .upload-display {
    margin-bottom: 5px;
}

@media(min-width: 768px) {
    .filebox .upload-display {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 0;
    }
}

.filebox .upload-thumb-wrap {
    display: inline-block;
    width: 54px;
    padding: 2px;
    vertical-align: middle;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
}

.filebox .upload-display img {
    display: block;
    max-width: 100%;
    width: 100% \9;
    height: auto;
}

.listTable .table td, th {
    text-align: center;
}

.btnTop {
    width: auto;
    height: 50px;
}

.listTable {
    border-top: 1px solid #DDD;
    border-bottom: 1px solid #DDD;
}

.viewer {
    margin-bottom: 10px;
}

.viewImage img{
    max-width:310px;
    padding: 5px;
}

#viewTable tr th {
    width: 15%;
    background-color: #f5f5f5;
}

#viewTable tr td {
    width: 35%;
}

.traderInfo {
    margin-top: 20px;
    margin-bottom: 20px;
}

#rateField {
    float: left;
    width: 130px;
    margin: 0;
}

#ratePoint {
    height: 24px;
    padding-top: 2px;
    float: left;
}